<div id="navbar-wrapper">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://vignette.wikia.nocookie.net/clubpenguin/images/4/4c/Pokeball.png/revision/latest?cb=20130901024704" />
                        </div>
                        <div class="col-md-4">
                            <a class="navbar-brand" href="#">Pokémon</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <aside id="sidebar">
            <ul id="sidemenu" class="sidebar-nav">
                <li>
                    <a href='pokemons/list'>
                            <span class="sidebar-icon"><i class="fa fa-database"></i></span>
                            <span class="sidebar-title">Pokémon List</span>
                        </a>
                </li>
                <li>
                    <a href='items/list'>
                            <span class="sidebar-icon"><i class="fa fa-terminal"></i></span>
                            <span class="sidebar-title">Item List</span>
                        </a>
                </li>
            </ul>
        </aside>
    </div>
    <main id="page-content-wrapper" role="main">
        <router-outlet></router-outlet>
    </main>
</div>